server:
  port: 8080

eureka:
  client:
    enabled: false

spring:
  application:
    name: account
  config:
    import: "optional:configserver:"
  datasource:
    url: jdbc:postgresql://db-account:5432/account
    username: account
    password: account123
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
      show-sql: true

management:
  endpoints:
    web:
      exposure:
        include: "*"

otel:
  instrumentation:
    micrometer:
      enabled: true
  exporter:
    otlp:
      protocol: http/protobuf
      endpoint: http://otel-collector:4318
  resource:
    attributes:
      service.name: account-service
      service: account-service
      env: dev