server:
  port: 8080

spring:
  application:
    name: auth-service
  config:
    import: "optional:configserver:"
  datasource:
    url: jdbc:postgresql://db-auth:5432/auth
    username: auth
    password: auth123
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
      show-sql: true

logging:
  level:
    org:
      springframework:
        security: DEBUG
jwt:
  token:
    secret: ${SECRET_KEY}
    expires: 30

management:
  endpoints:
    web:
      exposure:
        include: "*"
  metrics:
    export:
      otlp:
        enabled: true
        endpoint: http://otel-collector:4318
        protocol: http/protobuf
        resource-attributes: 
          service.name: auth-service
          env: dev

otel:
  exporter:
    otlp:
      protocol: http/protobuf
      endpoint: http://otel-collector:4318
  resource:
    attributes:
      service.name: auth-service
      service: auth-service
      env: dev