receivers:
  otlp:
    protocols:
      http: 
        endpoint: "0.0.0.0:4318"
      grpc: 
        endpoint: "0.0.0.0:4317"

processors:
  batch:
    send_batch_size: 100
    timeout: 1s

exporters:
  debug:
    verbosity: detailed
  prometheus:
    endpoint: "0.0.0.0:9464"
  otlphttp/loki:
    endpoint: http://loki:3100/loki/api/v1/push


service:
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [debug]
    metrics:
      receivers: [otlp]
      exporters: [debug, prometheus]
    logs:
      receivers: [otlp]
      exporters: [otlphttp/loki]