receivers:
  otlp:
    protocols:
      http: 
        endpoint: "0.0.0.0:4318"
      grpc: 
        endpoint: "0.0.0.0:4317"

exporters:
  debug:
    verbosity: detailed
  prometheus:
    endpoint: "0.0.0.0:9464"

service:
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [debug]
    metrics:
      receivers: [otlp]
      exporters: [debug, prometheus]
    logs:
      receivers: [otlp]
      exporters: [debug]